
name: Java CI with Quarkus

on:
  push:
    branches:
      - main
      - 'feature/**'
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      MAVEN_OPTS: "-Xmx2g -Dquarkus.http.test-port=8085"

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 17

    - name: Cache Maven dependencies
      uses: actions/cache@v3
      with:
        path: |
          ~/.m2/repository
          !~/.m2/repository/org/apache/maven/plugins/maven-surefire-plugin
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Build and run all tests
      run: |
        ./mvnw clean verify \
          -Dquarkus.coverage=true \
          -Dquarkus.profile=prod \
          -Dquarkus.http.test-port=8085 \
          -Dit.test=!WarehouseEndpointIT,!LegacyStoreManagerGatewayIT

    - name: Generate JaCoCo HTML Report
      run: |
        ./mvnw jacoco:report

    - name: Upload JaCoCo report as artifact
      uses: actions/upload-artifact@v3
      with:
        name: jacoco-report
        path: target/site/jacoco
