name: Java CI with Quarkus

on:
  push:
    branches:
      - master
      - 'feature/**'
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      MAVEN_OPTS: "-Xmx2g -Dquarkus.http.test-port=8085"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build and run all tests (unit + integration)
        run: |
          ./mvnw clean verify \
            -Dquarkus.coverage=true \
            -Dquarkus.profile=test \
            -Dquarkus.http.test-port=8085

      - name: Generate JaCoCo HTML Report
        run: ./mvnw jacoco:report

      - name: Upload JaCoCo report as artifact
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: target/site/jacoco
